body {
  background-color: #545454;
  color: #ffffff;
  text-align: center;
}
div, a, p, input, button {
  font-family: 'Roboto', sans-serif;
}
a:link {
  color: #2b90f5;
}
button {
    background-color: #008CBA; /* Blue */
    border: 2px solid #008CBA;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    padding: 3px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    background-color: #545454;
    color: white;
}
button:active {
  background-color: #008CBA;
  transform: translateY(4px);
}
#title {
  font-size: 20px;
}
#subs {
  font-size: 30px;
  padding-bottom: 100px;
}
